::selection{
    color:#000;
    background-color: rgb(178, 56, 56);
}

::-webkit-scrollbar{
    background-color: rgb(239, 81, 81);
}

::-webkit-scrollbar-thumb{
    background-color: red;
    border-radius:0px 0px 10px 10px;
}

body{
    background: linear-gradient(to bottom, #ff0000, #800000);
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
    gap: 20px;
}

.title-main-container {
    font-size: 42px;
    color:#f3f3f3;
}


.btn-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 425px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    gap: 10px;
    background-color: rgba(0,0,0,0.7);
    border-radius: 8px;

}

.btn-container button {
    flex: 1 1 100px;
    font-size: 16px;
    padding: 15px 0;
    font-weight: 600;
    border-radius: 4px;
    border: none;
    color: white;
    cursor: pointer;
}

.btn-container button:nth-child(1) {
    background-color: purple;
}

.btn-container button:nth-child(2) {
    background-color: blue;
}

.btn-container button:nth-child(3) {
    background-color: red;
}

.btn-container button:nth-child(4) {
    color: black;
}

.input-busca {
    display: flex;
    align-items: center;
    max-width: 425px;
    width: 100%;
    margin: 0 auto;
    padding: 5px 10px;
    background-color: rgba(0,0,0,0.7);
    border-radius: 20px;
}

.input-busca img {
    width: 30px;
}

.input-busca input {
    width: 90%;
    font-size: 14px;
    font-weight: 600;
    padding-left: 10px;
    border: none;
    outline: none;
    color: white;
    background:transparent;
    border-radius: 20px;

}

.input-busca input:hover::placeholder {
    text-decoration: underline;
    color: #9a9a9a;
}

.show-filmes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    width: 100%;
    gap: 15px;
    margin-bottom: 20px;
}


/*responsivo*/




@media (max-width:768px){


    .title-main-container {
        font-size: 48px;
    }
    
    
    .btn-container {
        max-width: 600px;
        width: 100%;
    
    }

    .btn-container button {
        flex: 1 1 150px;
        font-size: 20px;
    }


    .input-busca {
        max-width: 600px;
        width: 80%;
    }

    .input-busca input {
        font-size: 20px;
    }

    .show-filmes-container {
        max-width: 600px;
        width: 100%;
    }
    
}



@media (max-width:620px){

   
    .title-main-container {
        font-size: 28px;
    }
    
    
    .btn-container {
        max-width: 350px;
        width: 100%;
        margin-top: -20px;
    
    }

    .btn-container button {
        flex: 1 1 100px;
        font-size: 16px;
    }

    .input-busca {
        max-width: 350px;
        width: 100%;
    }

    .input-busca input {
        font-size: 14px;
    }

    .show-filmes-container {
        max-width: 380px;
        width: 100%;
    }
}

@media (max-width:401px){


   
    .title-main-container {
        font-size: 28px;
    }
    
    
    .btn-container {
        max-width: 300px;
        width: 100%;
        margin-top: -20px;
    
    }

    .btn-container button {
        flex: 1 1 150px;
        font-size: 16px;
    }

    .input-busca {
        max-width: 300px;
        width: 100%;
    }

    .input-busca input {
        font-size: 14px;
    }

    .show-filmes-container {
        max-width: 350px;
        width: 100%;
    }
}